/*
 * Personal style system 🪐
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}