:root {
  --max-width: 48rem;
}

html {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

.c-GreetingTitle {
  height: 4.5rem;
}